*{
    margin: 0px;
    padding: 0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
body{
    background-color: rgb(7, 124, 85);
}
h1{
    text-align: center;
    margin-top: 3%;
    font-size: 3.5rem;
}
.container h2#player1{
    position: absolute;
    top: 200px;
    left: 500px;
    font-size: 250%;
}
.container h2#player2{
    position: absolute;
    top: 200px;
    left: 880px;
    font-size: 250%;
}
.images #img1{
    position: absolute;
    top:300px;
    left:450px ;
}
.images #img2{
    position: absolute;
    top:300px;
    left:850px ;
}
.btn{
    position: absolute;
    top: 600px;
    left: 720px;
    padding: 7px;
    width: 100px;
    border-radius: 20px;
    border-style: none;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    font-size: larger;
}
.btn:hover{
    font-size: 150%;
    padding: 8px;
    box-shadow: 0 8px 16px 0 rgb(0, 97, 98),   
    0 6px 20px  0 rgba(10, 9, 26, 0.4);
}